.menu .row .menu-card {
  text-align: center;
}

.menu .row .menu-card img {
  width: 40%;
  border-radius: 50%;
}

.menu .row .menu-card .menu-card-title {
  font-size: 1.3rem;
  margin: 1rem auto 0.5rem; /* margin auto artinya kiri kananya diaturkan oleh komputer */
}

.menu .row .menu-card .menu-card-price {
  font-size: 1.2rem;
}
